# .env.example

# Database URL for connecting to the database
DATABASE_URL=postgres://username:password@localhost:5432/database_name

# Secret key for JWT authentication
JWT_SECRET=your_jwt_secret

# Node Environment (development or production)
NODE_ENV=development

# Port to run the application
PORT=3000

# Allowed CORS origin
CORS_ORIGIN=http://localhost:3000
